appdirs==1.4.3
Django==1.11.4
django-hosts==2.0
elasticsearch==5.4.0
funcsigs==1.0.2
gunicorn==19.7.1
mock==2.0.0
nltk==3.2.4
numpy==1.13.1
packaging==16.8
pbr==3.1.1
protobuf==3.1.0
pymongo==3.4.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
tensorflow==2.4.0rc1
textblob==0.12.0
urllib3==1.22
